<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApexParse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ApexParse.Properties.Settings>
            <setting name="DamageLogsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateZanverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightDPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="CustomAccentColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnabledLineSeries" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftwareRenderingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailedDamageVisibleColumns" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="EnableDetailedDamageInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortenDPSReadout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailedParseLeftColumnWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DetailedParseRightColumnWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParserTickRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineStrokeWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpenGraphForSelf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChartVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
        </ApexParse.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>